[submodule "contrib/crent370_sdk"]
	path = contrib/crent370_sdk
	url = https://github.com/mvslovers/crent370_sdk.git
[submodule "contrib/lua370_sdk"]
	path = contrib/lua370_sdk
	url = https://github.com/mvslovers/lua370_sdk.git
